@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*{
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
}
header {
    background-image: url(img/bg-pattern.png), linear-gradient(to right, rgb(219, 36, 49), rgb(143, 61, 130));
}

.footer-links:hover {
    cursor: pointer;
    color: #fdcc52;
}
.twitter {
    background-color: rgb(29, 161, 242);
    height: 83px;
    width: 83px;
    border-radius: 100%;
    color: rgb(255, 255, 255);
    font-size: 0.6rem;
}
.facebook {
    background-color: rgb(66, 103, 178);
    height: 83px;
    width: 83px;
    border-radius: 100%;
    color: rgb(255, 255, 255);
    font-size: 0.6rem;
}
.google {
    background-color: rgb(248, 0, 0);
    height: 83px;
    width: 83px;
    border-radius: 100%;
    color: rgb(255, 255, 255);
    font-size: 0.6rem;
}
.twitter-icon {
    position: relative;
    top: 17px;
}
.facebook-icon {
    position: relative;
    top: 17px;
}
.google-icon {
    position: relative;
    top: 17px;
}
.myJumbotron {
    background-color: rgba(254, 201, 71, 0.9);
    padding-top: 80px;
    padding-bottom: 80px;
}
.myJumbotron:hover {
    background-color: rgba(254, 201, 71, 1);
    padding-top: 80px;
    padding-bottom: 80px;
    }
.store-logo {
    width: 200px;
    padding-right: 3px;
    padding-left: 3px;
}
.myJumbotronDiscover {
    background-color: rgba(254, 201, 71, 0.9);
    padding-top: 50px;
    padding-bottom: 140px;
}
.phone {
    max-width: 250px;
    margin: 8rem 5rem;
}
.text-for-stopWaiting {
    position: relative;
    top: 40%
}
.stopWaiting {
   height: 800px; 
   background-image: url("img/bg-cta.jpg");
   background-repeat: no-repeat;
   background-position: center;
}
.outline-button {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
    width: auto;
    transition-duration: 300ms;
}   
.outline-button:hover {
    background-color: rgb(253, 204, 82);
    border: 1px solid rgb(253, 204, 82);
}  
